<br><br>
<div class="d-flex justify-content-center animated fadeInDown">
    <form class="shadow-lg p-3 mb-5 bg-white rounded border border-primary" #log="ngForm" (submit)="login(log)">
        <img class="img-fluid" src="../../../assets/img/logo3.png" alt="logo">
        <div class="form-group">
            <label for="correoE">Correo electrónico</label>
            <input [ngClass]="{ 'is-invalid' : correoE.invalid && (correoE.dirty || correoE.touched) }" type="email" class="form-control" id="correoE" name="correoE" aria-describedby="emailHelp" [(ngModel)]="this.usuario.correoE" #correoE="ngModel" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
            <div *ngIf="correoE.errors?.required" class="invalid-feedback">Ingrese correo electrónico</div>
            <div *ngIf="correoE.errors?.pattern" class="invalid-feedback">Ingrese un correo adecuado Ej. nombre@dominio.com</div>
        </div>
        <div class="form-group">
            <label for="contrasena">Contraseña</label>
            <div class="input-group">
                <input [ngClass]="{ 'is-invalid' : contrasena.invalid && (contrasena.dirty || contrasena.touched) }" [type]="this.contra ? 'text' : 'password'" class="form-control" id="contrasena" name="contrasena" [(ngModel)]="this.usuario.contrasena" #contrasena="ngModel" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,16}$">
                <div class="input-group-prepend"><span class="input-group-text" (click)="verContrasena()"><i [ngClass]="{ 'far fa-eye': !this.contra, 'far fa-eye-slash': this.contra }" class="fas fa-eye"></i></span></div>
                <div *ngIf="contrasena.errors?.required" class="invalid-feedback">Ingrese contraseña</div>
                <div *ngIf="contrasena.errors?.pattern" class="invalid-feedback text-break">La contraseña debe contener al menos una letra mayúscula, una letra minuscula, un número, un símbolo(!@#$%^&*_=+-) y debe de estar entre los 8 y 16 caracteres</div>
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="check">
                <label class="form-check-label" for="check">Recordar</label>
            </div>
            <label style="color: blue;" (click)="recuperar()">¿Olvido su contraseña?</label>
        </div>
        <button type="submit" class="btn btn-primary w-100"><span *ngIf="i" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span> Aceptar</button>
    </form>
</div>