<!-- Barra de navegacio -->
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a href="/"><img src="https://scontent.ftij3-1.fna.fbcdn.net/v/t1.0-9/12036389_1631592240448437_2106511549091188732_n.png?_nc_cat=102&_nc_sid=7aed08&_nc_ohc=NqdiDEh9Jw8AX-m-Jm_&_nc_ht=scontent.ftij3-1.fna&oh=4090c7ffd77539009e9e84a3d3090ef8&oe=5F6C439D" alt="logo"
                style="height: 48px;"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#nosotros">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#paquetes">Paquetes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#cobertura">Cobertura</a>
                </li>
            </ul>
            <button class="btn btn-outline-light my-2 my-sm-0" [routerLink]="['/login']">
                <i class="far fa-user"></i> {{ i }}
            </button>
        </div>
    </nav>
</header>
<br><br>

<!-- Slide de imagenes y formulario -->
<div class="container">
    <!-- Slide de imagenes -->
    <div id="slide" class="animated fadeIn carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="3000">
                <img src="/assets/img/img1.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Primer slide</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus asperiores, non deserunt aperiam provident qui perferendis laboriosam voluptate quidem repellendus dolores iusto? Recusandae nemo dolorem molestiae molestias veritatis
                        dignissimos omnis.</p>
                </div>
            </div>
            <div class="carousel-item" data-interval="3000">
                <img src="/assets/img/img2.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Segundo slide</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus asperiores, non deserunt aperiam provident qui perferendis laboriosam voluptate quidem repellendus dolores iusto? Recusandae nemo dolorem molestiae molestias veritatis
                        dignissimos omnis.</p>
                </div>
            </div>
            <div class="carousel-item" data-interval="3000">
                <img src="/assets/img/img3.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Tercer slide</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus asperiores, non deserunt aperiam provident qui perferendis laboriosam voluptate quidem repellendus dolores iusto? Recusandae nemo dolorem molestiae molestias veritatis
                        dignissimos omnis.</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#slide" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#slide" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <br>
    <!-- Formulario -->
    <form class="container animated fadeIn rounded border border-primary">
        <div class="form-group">
            <div class="form-group">
                <h1 class="display-4">Mayores informes</h1>
                <h4>Ingrese sus datos para obtener mas informacion sobre nuestros servicios y cobertura</h4>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="nombre">Nombre: &nbsp;</label>
                    <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Ingrese su nombre completo" required pattern="[A-Za-z àáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð]*" maxlength="20">
                </div>
                <div class="form-group col-md-6">
                    <label for="codigo">Código postal: &nbsp;</label>
                    <input type="number" id="codigo" name="codigo" class="form-control" placeholder="Ingrese su código postal">
                </div>
            </div>

            <div class="form-group">
                <label for="correo">Correo electrónico: &nbsp;</label>
                <input type="email" id="correo" name="correo" class="form-control" placeholder="Ingrese su correo electronico">
            </div>
            <div class="form-group">

            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-secondary">Enviar</button>
            </div>
        </div>
    </form>
</div>
<br><br>

<!-- Paquetes, Cobertura, Acerca de -->
<div class="animated fadeIn container">
    <!-- Acerca de -->
    <section id="nosotros">
        <h1 class="display-2">Nosotros</h1>
        <blockquote class="blockquote">
            <p class="mb-0">Misión</p>
            <footer class="blockquote-footer"><cite title="Source Title">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad ducimus a dolor aperiam et! Rem similique id iste vero veritatis quia numquam iusto error? Itaque exercitationem quidem delectus tenetur consequatur.</cite></footer>
        </blockquote>
        <blockquote class="blockquote">
            <p class="mb-0">Visión</p>
            <footer class="blockquote-footer"><cite title="Source Title">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad ducimus a dolor aperiam et! Rem similique id iste vero veritatis quia numquam iusto error? Itaque exercitationem quidem delectus tenetur consequatur.</cite></footer>
        </blockquote>
        <blockquote class="blockquote">
            <p class="mb-0">Valores</p>
            <footer class="blockquote-footer"><cite title="Source Title">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad ducimus a dolor aperiam et! Rem similique id iste vero veritatis quia numquam iusto error? Itaque exercitationem quidem delectus tenetur consequatur.</cite></footer>
        </blockquote>
    </section>

    <!-- Paquetes -->
    <section id="paquetes">
        <h1 class="display-2">Nuestros Paquetes</h1>
        <div class="d-flex justify-content-between align-content-start flex-wrap">
            <img src="/assets/img/paquete1.png" alt="p1" class="rounded float-left">
            <img src="/assets/img/paquete2.png" alt="p2" class="rounded">
            <img src="/assets/img/paquete3.png" alt="p3" class="rounded float-right">
        </div>

    </section>

    <!-- Cobertura -->
    <section id="cobertura">
        <!-- Titulo -->
        <div>
            <h1 class="display-2 d-inline-flex p-2 bd-highlight">Nuestra Cobertura</h1>
        </div>

        <!-- Mapa y formulario -->
        <div class="d-flex flex-wrap justify-content-around bd-highlight">
            <!-- Mapa -->
            <div id="mapid" class="p-2 flex-grow-1 bd-highlight rounded border border-primary animated fadeIn"></div>
            <!-- Formulario -->
            <form class="p-2 bd-highlight">
                <div class="form-group">
                    <div class="form-group">
                        <p class="lead">Ingrese los datos de tu ubicación</p>
                    </div>
                    <div class="form-group">
                        <label for="estado">Estado: &nbsp;</label>
                        <select class="form-control" name="estado" id="estado" [(ngModel)]="this.e.estado1" (ngModelChange)="getCity($event)">
                            <option *ngFor="let item of estado" [ngValue]="item.idEstado">{{ item.estado1 }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="ciudad">Ciudad: &nbsp;</label>
                        <select class="form-control" name="ciudad" id="ciudad" [(ngModel)]="this.c.ciudad1" (ngModelChange)="getCP($event)">
                            <option *ngFor="let item of ciudad" [ngValue]="item.idCiudad">{{ item.ciudad1 }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="codigo">Código postal: &nbsp;</label>
                        <select class="form-control" name="codigo" id="codigo" [(ngModel)]="this.cp.codigo" (ngModelChange)="getColonia($event)">
                            <option [ngValue]="item.idCP" *ngFor="let item of codigo">{{ item.codigo }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="colonia">Colonia: &nbsp;</label>
                        <select class="form-control" name="colonia" id="colonia" [(ngModel)]="this.co.colonia1" (ngModelChange)="getZone($event)">
                            <option [ngValue]="item.idColonia" *ngFor="let item of colonia">{{ item.colonia1 }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="name">Calle y número: &nbsp;</label>
                        <input type="text" class="form-control" placeholder="Ingrese calle y número">
                    </div>
                </div>
            </form>
        </div>
    </section>
    <br>
</div>

<!-- Informes y formulario de ac -->
<footer style="background-color: cornflowerblue; color: white;" class="align-self-baseline">
    <!-- Informes de la empresa -->
    <div class="animated fadeIn" style="margin-left: 2%;">
        <br>
        <div>
            <img src="https://scontent.ftij3-1.fna.fbcdn.net/v/t1.0-9/12036389_1631592240448437_2106511549091188732_n.png?_nc_cat=102&_nc_sid=7aed08&_nc_ohc=NqdiDEh9Jw8AX-m-Jm_&_nc_ht=scontent.ftij3-1.fna&oh=4090c7ffd77539009e9e84a3d3090ef8&oe=5F6C439D" alt="logo"
                style="height: 90px; width: 341;">
            <h6>Desarrollo de sistemas TJ S.A de C.V</h6>
            <h6>Calle San Renovato #13020 Colonia Montebello C.P 22480, Tijuana, Baja California, México</h6>
            <h6>Teléfono: (664) 199-8146</h6>
        </div>
    </div>
</footer>