<!-- Barra de navegacion -->
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a href="/"><img src="https://scontent.ftij3-1.fna.fbcdn.net/v/t1.0-9/12036389_1631592240448437_2106511549091188732_n.png?_nc_cat=102&_nc_sid=7aed08&_nc_ohc=NqdiDEh9Jw8AX-m-Jm_&_nc_ht=scontent.ftij3-1.fna&oh=4090c7ffd77539009e9e84a3d3090ef8&oe=5F6C439D" alt="logo"
                style="height: 48px;"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            <button href="#" class="my-2 my-lg-0 btn btn-outline-light" style="margin-right: 2%;"><i class="fa fa-user"></i> Perfil</button>
            <button href="#" class="my-2 my-lg-0 btn btn-outline-light"><i class="fas fa-sign-out-alt"></i> Salir</button>
        </div>
    </nav>
</header>

<!-- Administrador -->
<div class="container animated fadeIn">
    <br>
    <!-- Botones agregar, tabla y activos -->
    <div>
        <button class="btn btn-success float-left" style="margin-right: 2%; margin-bottom: 1%;" [routerLink]="['/inicio', seleccion, 'new']"><i class="fas fa-plus"></i> Agregar</button>

        <div class="dropdown float-left">
            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ seleccion }}
        </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <div *ngFor="let item of tablas;">
                   <button class="dropdown-item" type="button" (click)="change(item)">{{ item }}</button> 
                </div>
            </div>
        </div>

        <div class="form-check float-right">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                Activos
            </label>
        </div>
    </div>

    <!-- Tabla Usuarios -->
    <table class="table" *ngIf="seleccion === 'Usuario' || seleccion === 'Seleccione tabla...'">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td><button class="btn btn-light"><i class="fas fa-pen"></i></button></td>
            </tr>
        </tbody>
    </table>
    <!-- Tabla Rol -->
    <table class="table" *ngIf="seleccion === 'Rol'">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">ID Rol</th>
                <th scope="col">Rol</th>
                <th scope="col">Activo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of rol; let i = index" class="animated fadeIn">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ item.idRol }}</td>
                <td>{{ item.rol1 }}</td>
                <td>{{ item.activo }}</td>
                <td><button class="btn btn-light" [routerLink]="['/inicio', seleccion, item.idRol]"><i class="fas fa-pen"></i></button></td>
            </tr>
        </tbody>
    </table>
    <!-- Tabla Estatus -->
    <table class="table" *ngIf="seleccion === 'Estatus'">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td><button class="btn btn-light"><i class="fas fa-pen"></i></button></td>
            </tr>
        </tbody>
    </table>
    <!-- Tabla Estado -->
    <table class="table" *ngIf="seleccion === 'Estado'">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">ID Estado</th>
                <th scope="col">Estado</th>
                <th scope="col">Activo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of estado; let i = index" class="animated fadeIn">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ item.idEstado }}</td>
                <td>{{ item.estado1 }}</td>
                <td>{{ item.activo }}</td>
                <td><button class="btn btn-light"><i class="fas fa-pen"></i></button></td>
            </tr>
        </tbody>
    </table>
    <!-- Tabla Ciudad -->
    <table class="table" *ngIf="seleccion === 'Ciudad'">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td><button class="btn btn-light"><i class="fas fa-pen"></i></button></td>
            </tr>
        </tbody>
    </table>
    <!-- Tabla Codigo Postal -->
    <table class="table" *ngIf="seleccion === 'Código postal'">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td><button class="btn btn-light"><i class="fas fa-pen"></i></button></td>
            </tr>
        </tbody>
    </table>
    <!-- Tabla Paquete -->
    <table class="table" *ngIf="seleccion === 'Paquete'">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td><button class="btn btn-light"><i class="fas fa-pen"></i></button></td>
            </tr>
        </tbody>
    </table>
    <!-- Tabla Equipo -->
    <table class="table" *ngIf="seleccion === 'Equipo'">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td><button class="btn btn-light"><i class="fas fa-pen"></i></button></td>
            </tr>
        </tbody>
    </table>
    <!-- Tabla PaqueteEquipo -->
    <table class="table" *ngIf="seleccion === 'PaqueteEquipo'"></table>
    <!-- Tabla Colonia -->
    <table class="table" *ngIf="seleccion === 'Colonia'">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td><button class="btn btn-light"><i class="fas fa-pen"></i></button></td>
            </tr>
        </tbody>
    </table>
    <!-- Tabla Propiedad -->
    <table class="table" *ngIf="seleccion === 'Propiedad'">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td><button class="btn btn-light"><i class="fas fa-pen"></i></button></td>
            </tr>
        </tbody>
    </table>
    <!-- Tabla Contrato -->
    <table class="table" *ngIf="seleccion === 'Contrato'">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td><button class="btn btn-light"><i class="fas fa-pen"></i></button></td>
            </tr>
        </tbody>
    </table>
</div>
<!-- Tecnico -->
<div class="container animated fadeIn" *ngIf="">
    <div>
        <h1 class="display-4">Reportes</h1>
        <div class="form-check float-right">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                Activos
            </label>
        </div>
    </div>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
        </tbody>
    </table>
</div>
<div></div>