<!-- Barra de navegacion -->
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a href="/"><img src="https://scontent.ftij3-1.fna.fbcdn.net/v/t1.0-9/12036389_1631592240448437_2106511549091188732_n.png?_nc_cat=102&_nc_sid=7aed08&_nc_ohc=NqdiDEh9Jw8AX-m-Jm_&_nc_ht=scontent.ftij3-1.fna&oh=4090c7ffd77539009e9e84a3d3090ef8&oe=5F6C439D" alt="logo" style="height: 48px;"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            <button href="#" class="my-2 my-lg-0 btn btn-outline-light" style="margin-right: 2%;"><i class="fa fa-user"></i> Perfil</button>
            <button href="#" class="my-2 my-lg-0 btn btn-outline-light"><i class="fas fa-sign-out-alt"></i> Salir</button>
        </div>
    </nav>
</header>

<!-- Administrador -->
<div class="container animated fadeIn">
    <br>
    <!-- Botones agregar, tabla y activos -->
    <div>
        <button class="btn btn-success float-left" style="margin-right: 2%; margin-bottom: 1%;"><i class="fas fa-plus"></i> Agregar</button>

        <div class="dropdown float-left">
            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Seleccione tabla...
        </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>

        <div class="form-check float-right">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                Activos
            </label>
        </div>
    </div>

    <!-- Tabla Usuarios -->
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
        </tbody>
    </table>
    <!-- Tabla Rol -->
    <table></table>
    <!-- Tabla Estatus -->
    <table></table>
    <!-- Tabla Estado -->
    <table></table>
    <!-- Tabla Ciudad -->
    <table></table>
    <!-- Tabla Codigo Postal -->
    <table></table>
    <!-- Tabla Paquete -->
    <table></table>
    <!-- Tabla Equipo -->
    <table></table>
    <!-- Tabla PaqueteEquipo -->
    <table></table>
    <!-- Tabla Colonia -->
    <table></table>
    <!-- Tabla Propiedad -->
    <table></table>
    <!-- Tabla Contrato -->
    <table></table>
</div>
<!-- Tecnico -->
<div class="container animated fadeIn">
    <div>
        <h1 class="display-4">Reportes</h1>
        <div class="form-check float-right">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                Activos
            </label>
        </div>
    </div>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
        </tbody>
    </table>
</div>
<!-- Usuario -->
<div></div>