<div class="container animated fadeIn">
    <!-- Usuario -->
    <div *ngIf="this.id === 'Usuario'">
        <h1 class="display-4">Usuario</h1>
        <form #log="ngForm" (submit)=alta(log)>
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" class="form-control" id="nombre" placeholder="Ingrese nombre" required>
            </div>
            <div class="form-group">
                <label for="apellido">Apellido:</label>
                <input type="text" class="form-control" id="apellido" placeholder="Ingrese apellido" required>
            </div>
            <div class="form-group">
                <label for="telefono">Teléfono:</label>
                <input type="text" class="form-control" id="telefono" placeholder="Ingrese teléfono" required>
            </div>
            <div class="form-group">
                <label for="email">Correo electrónico:</label>
                <input type="email" class="form-control" id="email" placeholder="Ingrese correo electrónico" required>
            </div>
            <div class="form-group">
                <label for="pass">Contraseña:</label>
                <input type="text" class="form-control" id="pass" placeholder="Ingrese contraseña" required>
            </div>
            <div class="form-group">
                <label for="calle">Calle:</label>
                <input type="text" class="form-control" id="calle" placeholder="Ingrese calle" required>
            </div>
            <div class="form-group">
                <label for="int">Num.Int:</label>
                <input type="number" class="form-control" id="int" placeholder="ingrese Num.Int" required>
            </div>
            <div class="form-group">
                <label for="ext">Num.Ext:</label>
                <input type="number" class="form-control" id="ext" placeholder="Ingrese Num.Ext">
            </div>
            <div class="form-group">
                <label for="estado">Estado:</label>
                <select class="form-control" required>
                <option>Seleccionar estado...</option>
              </select>
            </div>
            <div class="form-group">
                <label for="ciudad">Ciudad:</label>
                <select class="form-control" required>
                <option>Seleccionar ciudad...</option>
              </select>
            </div>
            <div class="form-group">
                <label for="cp">Código Postal:</label>
                <select class="form-control" required>
                <option>Seleccionar código postal...</option>
              </select>
            </div>
            <div class="form-group">
                <label for="colonia">Colonia:</label>
                <select class="form-control" required>
                <option>Seleccionar colonia...</option>
              </select>
            </div>
            <div class="form-group">
                <label for="ext">Rol:</label>
                <select class="form-control" required>
                <option>Seleccionar rol...</option>
              </select>
            </div>
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="customSwitch1">
                <label class="custom-control-label" for="customSwitch1">Activo</label>
            </div>
            <br>
            <button type="submit" class="btn btn-success">Aceptar</button>
        </form>
    </div>
    <!-- Rol -->
    <div *ngIf="this.id === 'Rol'">
        <h1 class="display-4">Rol</h1>
        <form #log="ngForm" (ngSubmit)=alta(log)>
            <div class="form-group">
                <label for="rol">Rol: </label>
                <input class="form-control" type="text" id="rol" name="rol" placeholder="Ingresar rol" [(ngModel)]="this.rol.rol1" required>
            </div>
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="customSwitch2" name="activo" [(ngModel)]="this.rol.activo">
                <label class="custom-control-label" for="customSwitch2">Activo</label>
            </div>
            <br>
            <button type="submit" class="btn btn-success w-25"><i class="far fa-save"></i> Aceptar</button>
        </form>
    </div>
    <!-- Estatus -->
    <div *ngIf="this.id === 'Estatus'">
        <h1 class="display-4">Estatus</h1>
        <form #log="ngForm" (ngSubmit)=alta(log)>
            <div class="form-group">
                <label for="estatus">Estatus: </label>
                <input class="form-control" type="text" id="estatus" name="estatus" placeholder="Ingresar estatus" [(ngModel)]="this.estatus.estatus1" required>
            </div>
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="customSwitch3" name="activo" [(ngModel)]="this.estatus.activo">
                <label class="custom-control-label" for="customSwitch3">Activo</label>
            </div>
            <br>
            <button type="submit" class="btn btn-success w-25"><i class="far fa-save"></i> Aceptar</button>
        </form>
    </div>
    <!-- Estado -->
    <div *ngIf="this.id === 'Estado'">
        <h1 class="display-4">Estado</h1>
        <form #log="ngForm" (ngSubmit)=alta(log)>
            <div class="form-group">
                <label for="estado">Estado: </label>
                <input class="form-control" type="text" id="estado" name="estado" placeholder="Ingresar estado" [(ngModel)]="this.estado.estado1" required>
            </div>
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="customSwitch4" name="activo" [(ngModel)]="this.estado.activo">
                <label class="custom-control-label" for="customSwitch4">Activo</label>
            </div>
            <br>
            <button type="submit" class="btn btn-success w-25"><i class="far fa-save"></i> Aceptar</button>
        </form>
    </div>
    <!-- Ciudad -->
    <div *ngIf="this.id === 'Ciudad'">
        <h1 class="display-4">Ciudad</h1>
        <form #log="ngForm" (ngSubmit)=alta(log)>
            <label for="estado">Estado: </label>
            <select class="form-control" name="estado" id="estado" [ngModel]="this.ciudad.idEstado" required>
                <option *ngFor="let item of e" [value]="item.idEstado">{{ item.estado1 }}</option>           
            </select>
            <div class="form-group">
                <label for="ciudad">Ciudad: </label>
                <input class="form-control" type="text" id="ciudad" name="ciudad" placeholder="Ingresar ciudad" [(ngModel)]="this.ciudad.Ciudad1" required>
            </div>
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="customSwitch5" name="activo" [(ngModel)]="this.ciudad.activo">
                <label class="custom-control-label" for="customSwitch5">Activo</label>
            </div>
            <br>
            <button type="submit" class="btn btn-success w-25"><i class="far fa-save"></i> Aceptar</button>
        </form>
    </div>
    <!-- Codigo Postal -->
    <div *ngIf="this.id === 'Código postal'"></div>
    <!-- Paquete -->
    <div *ngIf="this.id === 'Paquete'"></div>
    <!-- Equipo -->
    <div *ngIf="this.id === 'Equipo'"></div>
    <!-- PaqueteEquipo -->
    <div *ngIf="this.id === 'PaqueteEquipo'"></div>
    <!-- Colonia -->
    <div></div>
    <!-- Propiedad -->
    <div *ngIf="this.id === 'Propiedad'"></div>
    <!-- Contrato -->
    <div *ngIf="this.id === 'Contrato'"></div>
</div>